<md-dialog class="md-dialog-fullscreen md-transition-in" aria-label="Login" flex="66">
  <form name="vm.form" ng-submit="vm.submit()" novalidate layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center">
        <h2>Create a new account</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
      <div class="md-dialog-content" layout="column" flex>

        <!-- name -->
        <md-input-container md-no-float class="md-block" style="margin: 0;">
          <md-icon>person</md-icon>
          <input type="text" name="name" placeholder="Name" ng-model="vm.user.name" required>
        </md-input-container>

        <!-- email -->
        <md-input-container md-no-float class="md-block" style="margin: 0;">
          <md-icon>email</md-icon>
          <input type="email" name="email" placeholder="Email" ng-model="vm.user.email" required mongoose-error>
          <div ng-messages="vm.form.email.$error">
            <div ng-message="mongoose">{{vm.form.email.$error.mongoose}}</div>
          </div>
        </md-input-container>

        <!-- password -->
        <md-input-container md-no-float class="md-block" style="margin: 0;">
          <md-icon>lock</md-icon>
          <input type="password" name="password" placeholder="Password" ng-model="vm.user.password" ng-minlength="3" required mongoose-error>
          <div ng-messages="vm.form.password.$error">
            <div ng-message="mongoose">{{vm.form.password.$error.mongoose}}</div>
          </div>
        </md-input-container>

        <!-- confirmPassword -->
        <md-input-container md-no-float class="md-block" style="margin: 0;">
          <md-icon>lock</md-icon>
          <input type="password" name="confirmPassword" placeholder="Confirm password" ng-model="vm.user.confirmPassword" match="vm.user.password" ng-minlength="3" required>
        </md-input-container>
      </div>
    </md-dialog-content>

    <!-- actions -->
    <md-dialog-actions layout="row">
      <md-button type="button" ui-sref="auth.login" style="text-transform: inherit;">I have an account</md-button>
      <span flex></span>
      <md-button type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid || vm.form.$submitted">
        <span>{{vm.form.$submitted ? 'Creating account...' : 'Create account'}}</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
