<md-dialog flex>
  <form name="vm.form" ng-submit="vm.submit()" flex>

    <!-- header -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="nowrap">{{vm.event.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- content -->
    <md-dialog-content flex>
      <div class="md-dialog-content">

        <!-- Show hints -->
        <!-- <div layout="row" layout-align="end">
          <md-switch ng-model="vm.hintsVisible">Show hints</md-switch>
        </div> -->

        <div layout="row">

          <!-- Name -->
          <md-input-container flex="60">
            <label>Name</label>
            <input ng-model="vm.event.name" ng-disabled="vm.event._id">
          </md-input-container>

          <!-- Type -->
          <md-input-container flex="20">
            <label>Type</label>
            <md-select ng-model="vm.event.type">
              <md-option ng-repeat="type in vm.types" value="{{type}}">
                {{type}}
              </md-option>
            </md-select>
          </md-input-container>

          <!-- Vendor -->
          <md-input-container flex="20">
            <label>Vendor</label>
            <md-select ng-model="vm.event.vendor">
              <md-option ng-repeat="vendor in vm.vendors" value="{{vendor}}">
                {{vendor}}
              </md-option>
            </md-select>
            <div ng-if="vm.hintsVisible" class="hint">Who the event belongs to (the company or person that wrote the source code generating the event)</div>
          </md-input-container>
        </div>

        <div layout="row">

          <!-- Explanation -->
          <md-input-container flex>
            <label>Explanation</label>
            <input ng-model="vm.event.explanation">
          </md-input-container>
        </div>

        <!-- Action -->
        <md-input-container class="md-block">
          <label>Action</label>
          <input ng-model="vm.event.action">
        </md-input-container>

        <div layout="row">

          <!-- Severity -->
          <md-input-container class="has-select" flex>
            <label>Severity Rating</label>
            <md-select ng-model="vm.event.sev">
              <md-option ng-repeat="severity in vm.severities" value="{{severity}}">
                {{severity}}
              </md-option>
            </md-select>
            <div ng-if="vm.hintsVisible" class="hint">Input your own severity for this event</div>
          </md-input-container>

          <!-- Criticality -->
          <md-input-container class="has-select" flex>
            <label>Criticality</label>
            <md-select ng-model="vm.event.criticality">
              <md-option ng-repeat="criticality in vm.criticalities" value="{{criticality}}">
                {{criticality}}
              </md-option>
            </md-select>
            <div ng-if="vm.hintsVisible" class="hint">It's used for building overview/executive dashboards indicating overall health status (like red, yellow and green)</div>
          </md-input-container>
        </div>

        <div layout="row">

          <!-- Service impacting -->
          <md-input-container flex>
            <md-switch ng-model="vm.event.si">Service impacting</md-switch>
            <div ng-if="vm.hintsVisible" class="hint">whether or not the event affects daily company operations (either causes an outage or network/systems degradation)</div>
          </md-input-container>

          <!-- Actionability -->
          <md-input-container flex>
            <md-switch ng-model="vm.event.actionable">Actionability</md-switch>
            <div ng-if="vm.hintsVisible" class="hint">"do I need to take action on this event"</div>
          </md-input-container>
        </div>

        <!-- <pre>{{vm.event.plain()|json}}</pre> -->
      </div>
    </md-dialog-content>

    <!-- actions -->
    <md-dialog-actions layout="row">
      <md-button ng-if="vm.isAdmin" type="button" class="md-warn md-raised" ng-disabled="vm.deleting" ng-click="vm.deleteEvent(vm.event)">Delete</md-button>
      <span flex></span>
      <md-button type="button" class="md-primary" ng-click="vm.close()">Close</md-button>
      <md-button type="submit" class="md-primary md-raised">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
