<div layout="row" layout-align="center center" flex layout-margin>
  <form class="md-whiteframe-1dp" name="vm.form" ng-submit="vm.submit()" novalidate flex-xs="100" flex-sm="66" flex-gt-sm="33">

    <md-content layout="column" flex layout-padding>

      <!-- social network -->
      <oauth-buttons classes="btn-block"></oauth-buttons>

      <md-divider></md-divider>

      <md-content layout="column">

        <!-- email -->
        <md-input-container md-no-float class="md-block" style="margin: 0;">
          <md-icon>email</md-icon>
          <input type="email" name="username" placeholder="Email" ng-model="vm.user.email" required autofocus>
        </md-input-container>

        <!-- password -->
        <md-input-container md-no-float class="md-block" style="margin: 0;">
          <md-icon>lock</md-icon>
          <input type="password" name="password" placeholder="Password" ng-model="vm.user.password" required>
        </md-input-container>

        <!-- actions -->
        <md-button type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid">
          <span>{{vm.form.loading ? 'Signing in...' : 'Sign In'}}</span>
        </md-button>
      </md-content>
    </md-content>
  </form>
</div>
