<div class="oauth-buttons" layout="column">
  <md-button class="md-primary md-raised" ng-click="OauthButtons.loginOauth('facebook')" style="background-color: #3b5998;">
    Connect with Facebook
  </md-button>
  <md-button class="md-primary md-raised" ng-click="OauthButtons.loginOauth('google')" style="background-color: #dd4b39;">
    Connect with Google+
  </md-button>
  <md-button class="md-primary md-raised" ng-click="OauthButtons.loginOauth('twitter')" style="background-color: #55acee;">
    Connect with Twitter
  </md-button>
</div>
