/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// @import url("//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic");

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

md-content.resolving {
  opacity: 0.5;
  pointer-events: none;
}

// Component styles are injected through grunt
// injector
@import 'styles/icons';
@import 'styles/lists';
@import 'styles/type';
@import '../components/oauth-buttons/oauth-buttons';
// endinjector
