
<!-- sidenav -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-button class="md-primary" ng-click="nav.toggleSidenav()">
      Close Sidenav
    </md-button>
  </md-content>
</md-sidenav>

<!-- navbar -->
<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="nav.toggleSidenav()">
      <md-icon>menu</md-icon>
    </md-button>
    <a ui-sref="main">
      <span>KEDB</span>
    </a>
    <span flex></span>

    <!-- actions no user -->
    <md-button ng-hide="nav.isLoggedIn()" ui-sref="signup">Sign up</md-button>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref="login">Sign in</md-button>

    <!-- actions user -->
    <md-menu ng-show="nav.isLoggedIn()">
      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon>person</md-icon>
      </md-button>
      <md-menu-content>
        <md-subheader class="md-primary">{{nav.getCurrentUser().name}}</md-subheader>
        <md-menu-item>
          <md-button ui-sref="settings" disabled="disabled">
            <md-icon md-menu-align-target>lock</md-icon>
            Change password
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="logout">
            <md-icon md-menu-align-target>exit_to_app</md-icon>
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
